:root {
  /* Color pallete */
  --primary-color: #043565;
  --last-modified-font: #ffe066;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Footer styles */
footer {
    text-align: center;

    background-color: var(--primary-color);
    border-radius: 1.5em;
}

footer p {
    display: block;
    margin: 0;
}

#owner {
    color: white;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

#last-modified {
    color: var(--last-modified-font);
    padding-bottom: 0.5em;
}