:root {
  /* Color pallete */
  --primary-color: #043565;
  --last-modified-font: #ffe066;
}

@media (min-width: 100em) {
    header {
        width: 30%;
        margin: 0 auto;
    }

    main {
        width: 25%;
        margin: 0 auto;
    }

    footer {
        width: 30%;
        margin: 2em auto;
    }
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 2em;

    background-color: var(--primary-color);
    border-radius: 1.5em;
}

header img {
    height: 100px;
    grid-column: 1;
    padding: 1em;
    border-radius: 25%;
}

header h1 {
    grid-column: 2;
    margin: auto;

    color: white;
}

/* Footer styles */
footer {
    text-align: center;

    background-color: var(--primary-color);
    border-radius: 1.5em;
}

footer p {
    display: block;
    margin: 0;
}

#owner {
    color: white;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

#last-modified {
    color: var(--last-modified-font);
    padding-bottom: 0.5em;
}