:root {
    /* Color pallete */
    --primary-color: #043565;
    --secondary-color: #e6dfdf;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    border-radius: 1.5em 1.5em 0 0;
    padding: 1em 0;
}

header h1, header h3 {
    margin: auto;
    text-align: center;

    color: white;
}

.navbar {
    border-radius: 0 0 1.5em 1.5em;
}

.container {
    padding: 0.5em;
    background-color: var(--secondary-color);
    border: 1px black solid;
}

div h3 {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.75em 0.75em 0 0;
    padding: 0.5em;
    margin-bottom: 0;
}

.container h4 {
    margin: 0;
    background-color: var(--secondary-color);
}

img {
    width: 100%;
}

.container p {
    margin: 0 auto;
    padding: 0.5em;
    background-color: var(--secondary-color);
    border-radius: 0 0 0.5em 0.5em;
}


.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    margin: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-item {
    padding: 0.5em 1em;
}

.nav-item a {
    text-decoration: none;
    padding: auto;
    color: white;
}

.nav-item:hover {
    background-color: #303030;
}