/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root {
    --font-color: black;
}

body {
    background-image: linear-gradient(to top, rgba(255, 255, 0, 0.5), rgba(255, 255, 255, 0.1)), url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

    font-family: 'Alkatra', cursive;
    width: 100%;
}

/* Navbar styles */

#logo {
    max-height: 100px;
    max-height: 100px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    display: block;
    color: var(--font-color);
    font-size: 1.25em;
    padding: 0.25em 1em;
}

.nav-item a:hover {
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}

/* Main section */

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
}

#call-to-action {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#call-to-action picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#call-to-action button {
    position: relative;
    top: -5em;
    left: 2em;
    border: none;
    background-color: black;
    border-radius: 1em;
    font-size: 1.25em;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.25em 1em;
    font-family: 'Alkatra', cursive;
}

#weather-section {
    background-color: lemonchiffon;
    padding: 1em;
    grid-column: 1;
    grid-row: 2;
}

#weather-section p {
    margin: 0;
}

#weather-description {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}