@media (min-width: 100em) {
    
    header, .navbar {
        width: 100%;
        margin: 0 auto;
    }

    .nav-links.open {
        display: flex;
        flex-direction: row;
    }

    main {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, fit-content(1fr));
        grid-gap: 1em;
    }

    #event {
        grid-column: 1;
        grid-row: 1;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #join {
        grid-column: 1;
        grid-row: 3;
    }

    #call-to-action {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    #news-release {
        grid-column: 2;
        grid-row: 3;
    }

    #spotlight {
        grid-column: 3;
        grid-row: 1 / 4;
    }

    #spotlight-3 {
        display: block;
    }

    /* footer styles */
    footer {
        width: 100%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 1fr 4em;
        height: 200px;
    }

    .footer-container {
        margin: 0;
        padding: 0;
    }

    #footer-img {
        padding-top: 1em;
        grid-column: 1;
        grid-row: 1;
    }

    #footer-left {
        grid-column: 2;
        grid-row: 1;
    }

    #footer-right {
        grid-column: 3;
        grid-row: 1;
    }

    #footer-bottom {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    #hamburgerBtn {
        display: none;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
