@media (max-width: 50em) {
    
    header, .navbar {
        width: 80%;
        margin: 0 auto;
    }

    header {
        min-height: 350px;
    }

    .header-container {
        display: block;
        height: fit-content;
        margin-bottom: 0;
    }

    .header-container * {
        display: block;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header-container img {
        margin: auto;
    }

    .header-container h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .social {
        margin: 1em 2em;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }
    
    .social a {
        margin: 0 1em;
    }

    .header-container #date {
        margin: 1em;
    }

    .home-main {
        width: 80%;
        display: block;
    }

    .discovery-main {
        width: 80%;
        margin: 0 auto;
        padding-top: 1em;
    }

    .join-main {
        width: 80%;
    }

    .container {
        display: block;
    }

    #join {
        display: none;
    }

    #spotlight-3 {
        display: none;
    }

    footer {
        width: 80%;
    }

    footer * {
        display: block;
    }
}