@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/* Custom properties */
:root {
    --main-bk-color: #003459;
    --secondary-bk-color: #fff4f4;
    --main-font-color: white;
    --navbar-bk-color: black;
    --navlink-hover-color: #555555;
    --link-alter-active-color: #cccccc;
    --secondary-font-color: rgba(255, 255, 0, 0.734);
    --active-link-font-color: rgb(255, 255, 163);
    --title-font-family: 'Ubuntu';
    --main-font-family: 'Roboto Mono';
    --table-row-odd-bk-color: white;
    --table-row-even-bk-color: rgb(239, 232, 232);
    --button-hover-bk-color: #004475;
}

body {
    font-family: var(--main-font-family), monospace, sans-serif;
}

header, main, footer {
    margin: 0 auto;
    margin-top: 1em;
}

main {
    margin: 1em;
}

header, footer {
    background-color: var(--main-bk-color);
    color: var(--main-font-color);
    border-radius: 1.75em;
    padding: 1em;
}

h1, h2, h3, h4 {
    font-family: var(--title-font-family), sans-serif;
    text-align: center;
    margin: 0;
}

hr {
    margin-top: 1em;
    width: 100%;
}

/* Header elements */

.banner {
    background-color: var(--navbar-bk-color);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    border: 1px white solid;
}

#name-section h2 {
    overflow-wrap: break-word;
}

.navbar {
    background-color: var(--navbar-bk-color);
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    color: var(--main-font-color);
    font-family: var(--title-font-family), sans-serif;
    text-decoration: none;
    padding: 0 1em;
}

.nav-item a:hover {
    background-color: var(--navlink-hover-color);
}

.nav-item-active {
    color: var(--active-link-font-color) !important;
    font-weight: bolder;
}

.responsive-menu li {
    display: block;
}

.responsive-menu #menu::before {
    content: "X";
}

#header-logo {
    max-width: 128px;
    width: 100%;
    height: auto;
}

.social {
    max-width: 40px;
    width: 100%;
    height: auto;
    margin: 0;
}

#date-section {
    background-color: var(--navbar-bk-color);
    width: 100%;
    border-radius: 1.5em;
}

#date-section p {
    text-align: center;
    margin: 0.5em 0;
}

/* Main elements */

.home-section, .spotlight {
    background-color: var(--secondary-bk-color);
    padding: 1em;
    border: 1px black solid;
}

#spotlight-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

#event-section {
    justify-content: space-between;
}

#news-section {
    justify-content: flex-start;
}

#event-section p span {
    margin: 0;
    color: var(--main-bk-color);
    font-weight: bolder;
    display: block;
    text-align: center;
}

#join-section {
    justify-content: flex-start;
}

#join-section button {
    background-color: var(--main-bk-color);
    color: var(--main-font-color);
    border: 1px black solid;
    border-radius: 1em;
    padding: 0.75em 4em;
    font-size: 1.25em;
    font-weight: bolder;
}

#join-section button:hover {
    background-color: var(--button-hover-bk-color);
}

/* Footer elements */

#footer-top-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2em;
    grid-row-gap: 0.25em;
    place-items: center;
}

#footer-top-content h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

#footer-top-content p {
    margin: 0;
    padding: 0;
}

#footer-logo {
    max-width: 100px;
    height: auto;
    grid-column: 1;
    grid-row: 1/4;
}

#footer-top-content h4 {
    grid-column: 2;
    grid-row: 1;
}

#footer-top-content p:nth-child(3) {
   grid-column: 2;
   grid-row: 2; 
}

#footer-top-content p:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

#footer-top-content p:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
}

#footer-top-content p:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
}

#footer-top-content p:nth-child(7) {
    grid-column: 3;
    grid-row: 3;
}

@media screen and (max-width: 35em) {

    #home-main {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
    }
    
    #join-section {
        display: none;
    }

    #spotlight-section .spotlight:nth-child(3) {
        display: none;
    }

    #header-content {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto 1fr auto;
        grid-gap: 1em;
        place-items: center;
    }

    #logo-section {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    #logo-section h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #logo-section h2 {
        text-align: left;
        font-size: 1.25em;
    }

    #social-div {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-flow: row nowrap;
        gap: 0.25em;
        align-items: center;
    }

    .navbar {
        grid-column: 3;
        grid-row: 1;
        padding: 0.5em 0;
    }

    #date-section {
        grid-column: 1/4;
        grid-row: 2;
    }

    .nav-item {
        display: none;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5em;
        align-items: flex-end;
    }

    .nav-links .nav-item:first-child {
        display: block;
    }

    .nav-item a {
        display: block;
        padding: 0.25em 0.75em;
        text-align: right;
    }

    #menu::before {
        content: "≣";
    }

    #header-logo {
        max-width: 60px;
        height: auto;
    }

    .social {
        max-width: 24px;
        max-height: 24px;
        height: auto;
    }

    #footer-top-content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 0.75em;
    }

    #footer-top-content p {
        text-align: center;
        margin: 0;
    }

    #footer-logo {
        max-width: 80px;
        height: auto;
    }

    #footer-bottom-content p {
        margin: 0;
    }

    #footer-bottom-content, #info {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        align-items: center;
    }
}