@media (min-width: 32.5em) and (max-width: 50em) {

    header, main, footer {
        width: 75%
    }

    #index-header {
        flex-direction: row;
    }

    #index-header h1 {
        margin-right: 0.5em;
    }
}