@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/* Custom properties */
:root {
    --main-bk-color: #003459;
    --secondary-bk-color: #fff4f4;
    --main-font-color: white;
    --navbar-nk-color: black;
    --navlink-hover-color: #555555;
    --link-alter-active-color: #cccccc;
    --secondary-font-color: rgba(255, 255, 0, 0.734);
    --active-link-font-color: rgb(255, 255, 163);
    --title-font-family: 'Ubuntu';
    --main-font-family: 'Roboto Mono';
}

body {
    font-family: var(--main-font-family), monospace, sans-serif;
}

header, main, footer {
    margin: 0 auto;
    margin-top: 1em;
}

header, footer {
    background-color: var(--main-bk-color);
    color: var(--main-font-color);
    border-radius: 1.75em;
}

.navbar {
    background-color: var(--navbar-nk-color);
    border-radius: 0 0 1.75em 1.75em;
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    color: var(--main-font-color);
    font-family: var(--title-font-family), sans-serif;
    text-decoration: none;
    padding: 0.4em 1em;
}

.nav-item a:hover {
    background-color: var(--navlink-hover-color);
}

h1, h2, h3, h4 {
    font-family: var(--title-font-family), sans-serif;
    text-align: center;
    margin: 0;
}

.nav-item-active {
    color: var(--active-link-font-color) !important;
    font-weight: bolder;
}

/* Index styles */

#index-header {
    display: flex;
    flex: 2 1;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

#profile-pic {
    margin: 1em;
    margin-right: 0;
    width: 125px;
    border-radius: 1em;
}

#index-header h1 {
    flex-grow: 1;
}

footer {
    display: block;
    overflow: auto;
}

footer h3 {
    margin-top: 0.5em; 
}

footer h4 {
    color: var(--secondary-font-color);
    margin-bottom: 0.5em;
}

.assignment-list li {
    margin-left: 2em;
}

/* Design Principles styles */

#design-principles-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#design-principles-header h1 {
    margin: 0;
    margin-top: 1em;
}

#design-principles-main {
    display: grid;
    grid-gap: 1em;
}

.design-principle {
    border-radius: 2em 2em 0 0;
    background-color: var(--secondary-bk-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-principle h2 {
    background-color: var(--main-bk-color);
    color: var(--main-font-color);
    border-radius: 1em 1em 0 0;
    padding: 0.5em;
    padding-left: 1em;
    text-align: left;
}

.design-principle h2 a:visited {
    color: var(--link-alter-active-color);
}

.design-principle p {
    padding: 1em;
}

.design-principle img {
    width: 100%;
}

/* Planning document */

#planning-document-header {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-evenly;
    gap: 1em;
}

#planning-document-header-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    gap: 1em;
}

#planning-document-header img {
    grid-row: 1;
    grid-column: 1;
    max-width: 128px;
    width: 100%;
    height: auto;
}

#planning-document-header h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

#planning-document-header .navbar {
    grid-row: 2;
    grid-column: 1 / 3;
}

#planning-document-main {
    margin: 1em auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.planning-document-main-section {
    background-color: var(--secondary-bk-color);
    border-radius: 1em;
}

.planning-document-main-section h2 {
    background-color: var(--main-bk-color);
    border-radius: 1em 1em 0 0;
    color: white;
    padding: 0.25em 0;
}

.planning-document-main-section h3 {
    text-align: left;
    margin: 1em;
}

.planning-document-main-section p {
    margin: 1em;
}
